/*	
  Medusa default style sheet. 
	By: Dan McGarry
	Date: April 16, 1999	
	Updated: June 27, 1999 
	Again December 2001
	And again July 2004 to include lists 
  And again March 2011 to add jQuery-based slideshow support 
  And again July 2014 to add Mosaic support

*/

img {
		opacity: 0.95;
}
.img_desc {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",helvetica,arial,sans-serif;
		text-align: center;
		border-radius: 5px;
		width: 300px;
}
#container {
		width: 90%;
}
span.item-desc {
		position: relative;
		left: 0px;
		float:left;
		opacity: 0;
		display: none;
}
.item {
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
		background: transparent;
		border-radius: 6px;
		padding: 0.25em;
		margin: 0;
		display: inline;
}

/* 200,250,300,350,400,450,500 */

.item.item200 {
		width: 133px;
		height: 133px;
		overflow: hidden;
		border-radius: 6px !important; 
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.item250 {
		width: 166px;
		height: 166px;
		overflow: hidden;
		border-radius: 6px;
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.item300 {
		width: 200px;
		height: 200px;
		overflow: hidden;
		border-radius: 6px;
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.item350 {
		width: 233px;
		height: 233px;
		overflow: hidden;
		border-radius: 6px;
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.item400 {
		width: 266px;
		height: 266px;
		overflow: hidden;
		border-radius: 6px;
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.item450 {
		width: 300px;
		height: 300px;
		overflow: hidden;
		border-radius: 6px;
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.item500 {
		width: 333px;
		height: 333px;
		overflow: hidden;
		border-radius: 6px;
		-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.also {
		position: absolute;
		width: 95%;
		top: -60px;
}
.title {
		border: 0;
		display: block;
		opacity: 0.4;
		color: #fff;
		font-size: 164pt;
		font-family: 'helvetica neue',helvetica,arial,sans-serif;
    z-index: 9999;
    position: relative;
    top: 0;
    text-align: center;
		padding: 0;
		margin: 0;
		background: transparent;
}

#slideshow {
      position:relative;
      height:490px; 
      width: 700px;
      border: 10px solid #111111;
      border-bottom: 40px;
      margin-left: 100px;
      background: #111111;
}

#slideshow DIV {
      position:absolute;
      top:0;
      left:0;
      z-index:8;
      opacity:0.0;
}

#slideshow DIV.active {
      z-index:10;
      opacity:1.0;
}

#slideshow DIV.last-active {
      z-index:9;
}

#slideshow DIV.active DIV.caption{
      height: 20px;
      position: relative;
      top: -40px;
      border: 1px solid #333333;
      padding: 10px;
      opacity: 0.6;
      background: #000000;
      color: #666666;
      font-family: arial,helvetica,sans-serif;
      /* font-weight: bold; */
      font-size: 10pt;
      z-index: 11;
}

#slideshow DIV#next { 
	position: relative;
	left: 650px;
	top: 410px;
	font-family: arial,helvetica,sans-serif;
	font-size: 40pt;
	z-index: 99;
	opacity: 0.5;
	background: none;
	color: #FFF;
	border: 0;
 }

#slideshow DIV#next a { 
	z-index: 99;
	color: #FFF;
	background: none;
	border: none;
	outline: none;
 }

#slideshow DIV#next a:hover { 
	color: #FFF;
	background: none;
	border: none;
	outline: none;
 }

#slideshow DIV#next a:active { 
	color: #FFF;
	background: none;
	border: none;
	outline: none;
 }


body
{
  color:             #b4b4cd;
  background-color: #000000;
  font-family: arial, helvetica, sans-serif;
  margin-left: 30px;
}

p
{
  color: #b4b4cd;
  border: 1px solid #c0c0c0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #222222; 
  font-family: arial,helvetica,sans-serif;
  margin-left: 3em;
  margin-right: 3em;
}

ol
{
  color: #b4b4cd;
  border: 1px solid #c0c0c0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 1em;
  background-color: #222222;
  font-family: arial,helvetica,sans-serif;
  margin-left: 3em;
  margin-right: 3em;
}
.image 
{
  text-align: center;
  background: #000000;
  margin-left: 3em;
  margin-right: 3em;
}

.name
{
  font-weight: bold;
}

a
{
  background:		transparent;
  color:			#FFFFFF;
  text-decoration: none;
  border-color:		#ffffff;
}

h1 {
  margin-left: 10px;
}

small
{
  text-align: right;
  font-variant: small-caps;
  font-size: 10pt;
  /* font-weight: lighter; */
}

h2
{
  color: #b4b4cd;
  background-color: #000000;
  background-image: none;
  font-family: verdana,helvetica,sans-serif;
  font-size: 14pt;
}

pre 
{
  margin-left:100px;
  font-family: sans-serif;
}
.verse
{
  margin-left: 210px;
}

.verse2
{
  margin-left: 250px;
}

.verse3
{
  margin-left: 300px;
}

.verse3a
{
  text-indent: -65px;
  margin-left: 275px;
}

.spacer
{
  line-height: .25em;
}
.centerit
{
  text-align: center;
}

#snowflake 
{
  margin-left:	150px;
}

#snowtitle
{
  font-family:	arial,helvetica,sans-serif;
  margin-left:	60px;
  font-style:	italic;
}
